<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/CSS/message.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAMILLE</title>
</head>
<body>
    <main>
        <nav>
            <div class="logo">
                <a href="#">
                    <h1>Bil-Tour</h1>
                </a>
            </div>
            <a href="../HTML/connexion.html" type="post" class="btn">Déconnexion</a>
        </nav>
        <div class="mess">
            <p>Merci d'avoir choisir<div class="logo"><a href="#"><h1>Bil-Tour</h1></a></div>, Nous vous reviendrons sous peu pour la confirmation de reservation</p>
            <button><a href="../HTML/aceil.html">OK</a></button>
        </div>
    </main>
</body>
<footer>
    <div class="pied">
        <p>
            Tout Droit Réserver
        </p>
    </div>
</footer>
</html>