<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/CSS/famille.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAMILLE</title>
</head>
<body>
    <main>
        <nav>
            <div class="logo">
                <a href="../index.html">
                    <h1>Bil-Tour</h1>
                </a>
            </div>
            <a href="../HTML/connexion.html" type="post" class="btn">Déconnexion</a>
        </nav>

        <div class="fiche">
            <form action="#" method="post">
                <div class="famil">
                    <div class="sous_famil">
                        <div class="input">
                            <p>Nom & Prénom<span style="color: red;">*</span></p>
                            <input type="text" name="nom" id="#" placeholder="nom de famille">
                        </div>
                        <div class="input">
                            <p>Depart<span style="color: red;">*</span></p>
                            <input type="text" name="depart" id="#" placeholder="D'où venez-vous ?">
                        </div>
                        <div class="input">
                            <p>Arrivé<span style="color: red;">*</span></p>
                            <input type="text" name="arrivé" id="#" placeholder="Aéroport d'atterissage(ville)">
                        </div>
                    </div> 
                </div>
                <div class="famil">
                    <div class="sous_famil">
                        <div class="input">
                            <p>Destination <span style="color: red;">*</span></p>
                            <input type="text" name="destination" id="#" placeholder="Ville de visite">
                        </div>
                        <div class="input">
                            <p>Email <span style="color: red;">*</span></p>
                            <input type="text" minlength="20" name="email" id="#" placeholder="email">
                        </div>
                        <div class="input">
                            <p>Nombre <span style="color: red;">*</span></p>
                            <input type="number" min="1" name="nombre   " id="#" placeholder="places reservées">
                        </div>
                    </div> 
                </div>
                <div class="input" style="background-color: rgb(65, 56, 56); margin: 5% 0 0 33%;">
                    <a href="../HTML/message.html" type="submit" style="margin: 5220% 0 0 40%; width: 100%; height: 5vh;">Envoyer</a>
                    
                </div>
            </form>
        </div>
        <div class="radio">
            <h1>KIT DE SOUSCRIPTION</h1>
            <div class="kit" style="display: flex;">
                <input type="radio" style=" width: 3vh; border-color: blue;" disabled="disabled">
                <p style="margin: 0.7% 0 0 1%;">Billets D'avion</p>
            </div>
            <div class="kit" style="display: flex;">
                <input type="radio" style=" width: 3vh;" disabled="disabled">
                <p style="margin: 0.7% 0 0 1%;">Hotel 4 Etoiles</p>
            </div>
            <div class="kit" style="display: flex;">
                <input type="radio" style=" width: 3vh;" disabled="disabled">
                <p style="margin: 0.7% 0 0 1%;">Une voiture + Un Guide</p>
            </div>
            <div class="kit" style="display: flex;">
                <input type="radio" style=" width: 3vh;" disabled="disabled">
                <p style="margin: 0.7% 0 0 1%;">De L'animation</p>
            </div>
        </div>
    </main>
</body>
<footer>
    <div class="pied">
        <p>
            Tout Droit Réserver
        </p>
    </div>
</footer>
</html>