<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav/Footer</title>

</head>
<body>
    <main>
        <nav>
            <div class="logo">
                <a href="index.html">
                    <h1>Bil-Tour</h1>
                </a>
            </div>
            <div class="menu">
                <a href="index.html"><p style="border-bottom: 3px solid red;">Accueil</p></a>
                <a href="#"><p>A Propos</p></a>
                <a href="../../templates/HTML/contact.html"><p>Contact</p></a>
            </div>
            <a href="../../templates/HTML/connexion.html" type="button" class="btn">Connexion</a>
        </nav>

        <div class="list-services1">
            <div class="services"></div>
            <div class="services"></div>
        </div>
        <div class="list-services2">
            <div class="services"></div>
            <div class="services"></div>
        </div>
        
        
    </main>
    
</body>
<footer>
    <div class="pied">
        <p>
            Tout Droit Réserver
        </p>
    </div>
</footer>
</html>





